*{
	font-family: 'Roboto', sans-serif;
	padding:0;
	margin:0;
}
/* SIDENAV */
.menu{
	cursor:pointer;
    color: white;
    position: fixed;
    right: 9%;
    top: 10%;
    font-size: 19px;
    z-index:1;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.7);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* MENU LATERAL */
.menu-lateral{
	background-color:white;
	width: 3%;
    height: 115px;
	position:fixed;
	right: 0%;
	top: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index:1;
	ul{
		li{
			list-style:none;
			padding: 4px;
			a{
				.fa{
					color:$verde_oscuro;
					font-size:18px;
				}
			}
		}
	}
}
/*SECTION INICIO*/
.inicio{
	background-image:$foto-inicio;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	background-position-y: -176px;
    width: 100%;
	.fondo-color{
		background-color:rgba(45, 182, 163, 0.63);
	}
	.foto-a{
 	width: 25%;
    margin-top: 6%;
	}
	.pre-txt{
		color:white;
		font-weight: 100;
    	font-size: 20px;
	}
	.txt-hola{
		color:white;
		font-weight: 700;
    	font-size: 68px;
    	margin-bottom: 2%;
	}
	.linea{
	    height: 2px;
	    width: 361px;
	    background-color: white;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: -20px;
	}
	.bajada-hola{
		color:white;
		font-weight: 100;
    	font-size: 27px;
    	margin-bottom: 5%;
	}
}
/* SKILLS */
.skills{
	background-color:$amarillo;
	width:100%;
	.icono-logo{
		color: white;
    	font-size: 74px;
	}
}
	.margen-top{
		margin-top: 41px;
	}
	.margen-bot{
		margin-bottom:10%;
	}

	.titulo-seccion{
		font-size: 48px;
		margin-top: 6%;
	}



/* ABOUT ME */

.aboutme{
	background-color:$verde_oscuro;
	width:100%;
	.foto-a2{
	    width: 16%;
	    margin-top: 0%;
	}
	.bajada-about{
		color: white;
	    font-size: 20px;
	    font-weight: 300;
	}
	.txt-about{
		color: white;
	    font-size: 17px;
	    font-weight: 300;
	}
}
/* WORK */
.work{
	width:100%;
	background-color:$amarillo;
	.foto-work{
		width:100%;
		margin-bottom: 31px;
	}
	.tagslista{
		display: inline-flex;
		li{
			margin: 2px 25px;
    	list-style: none;
    	margin-bottom: 24px;
		}
	}
	.tags{
		color:$crema;
		background-color: black;
    	border: 6px solid black;
    	border-radius: 23px;
	}
}

/* CONTACT */

.contact{
	width:100%;
	background-image:$foto-codigo;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -234px;
	.color-fondo{
		background-color:rgba(45, 182, 163, 0.63);
	}
	.email{
		margin-bottom: 3%;
    	margin-top: 5%;
    	font-size: 18px;
    	color:white;
	}
	.iconos-redes{
		width:100%;
		.fa{
		    font-size: 39px;
		    color: white;
		    padding: 17px;
		}
	}
	.wsp{
		margin-bottom:7%;
		font-size: 18px;
		color:white;
	}
	.fa{
		font-size: 25px;
    	margin-right: 1%;
	}
}